<%= form_with(model: transaction) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :transaction_type_id %>
    <%= form.text_field :transaction_type_id %>
  </div>

  <div class="field">
    <%= form.label :transaction_datetime %>
    <%= form.datetime_select :transaction_datetime %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf %>
  </div>

  <div class="field">
    <%= form.label :card_number %>
    <%= form.text_field :card_number %>
  </div>

  <div class="field">
    <%= form.label :store_owner %>
    <%= form.text_field :store_owner %>
  </div>

  <div class="field">
    <%= form.label :store_name %>
    <%= form.text_field :store_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
